{% extends "main.html" %}

{% load static %}

{% block inserte_aqui_su_contenido %}

<h2>Para agregar datos:</h2>
<p>
    <b>
    <a href="formulario-articulo.html">Agregar Articulos</a>
<p>
    <b>
    <a href="formulario-autor.html">Agregar Autor</a>
<p>
    <b>
    <a href="formulario-seccion.html">Agregar Categoria</a>
<p>
    <em><p style="color:red"> Realice su busqueda aquí </em>

    <p>
    <b>
    <a href="formulario-busqueda-articulo.html">Buscar Articulos</a>
<p>
    <b>
    <a href="formulario-busqueda-autor.html">Burcar Autor</a>
<p>
    <b>
    <a href="formulario-busqueda-seccion.html">Buscar Categoria</a>
<p>
    
        <a class="boton" href="login.html" name="login" target="_blank">Login</a>
<p>  
        <a class="boton" href="register.html" name="register" target="_blank">Registrarse</a>

{% endblock %}
